<!-- Read only component for a single diary entry -->
<!-- TODO -->
<!-- 1. Edit button that redirects to EditpostComponent with post details -->
<!-- 2. Navigate buttons for previous and next posts -->
<div class="button-group">
  <a routerLink="/login" class="btn btn-primary" role="button">Logout</a>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="width: 100%;">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newpost" role="button">Add new post</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto justify-content-end" style="width: 100%;">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" role="button">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="post-nav">
  <!-- *ngIf="post..." prevents console errors -->
  <div *ngIf="post && post.id > 1" class="post-nav-left">
    <a *ngIf="post" routerLink="/postdetail/{{post.id - 1}}" role="button">
      <img alt="previous post" src="../../assets/img/arrow-left.png">
      <p>Previous post</p>
    </a>
  </div>

  <div class="post-nav-right">
    <a *ngIf="post" routerLink="/postdetail/{{post.id + 1}}" role="button">
      <p>next post</p>
      <img alt="next post" src="../../assets/img/arrow-right.png">
    </a>
  </div>
</div>

<div *ngIf="post">
  <h2>Title: {{ post.title }}</h2>
  <p>Mood: {{ post.smiley }}</p>
  <p>Postid: {{post.id}}</p>
  <p>Date: {{ post.date }}</p>
  <div>
    <p>Entry: {{ post.entry }}</p>
  </div>
  <!--<button (click)="goBack()">go back</button>-->
</div>
