<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="width: 100%;">
      <a class="navbar-brand" href="/home">
        <img src="../../assets/img/Quacker.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Quacker
      </a>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newpost" role="button">Add new post</a>
      </li>
    </ul>
    <div class="container">
    <span class="navbar-text" style="width: 100%">
      Welcome {{currentUser.firstName}}
    </span>
    </div>
    <ul class="navbar-nav mr-auto justify-content-end" style="width: 100%;">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" role="button">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="post-nav">
  <!-- *ngIf="post..." prevents console errors -->
  <div *ngIf="post && !this.postService.lastPost" class="post-nav-left" (click)="newerPost()">
      <img alt="Newer post" src="../../assets/img/arrow-left.png">
      <p>Newer post</p>
  </div>

  <div *ngIf="post && !this.postService.firstPost" class="post-nav-right" (click)="olderPost()">
      <p>Older post</p>
      <img alt="Older post" src="../../assets/img/arrow-right.png">
  </div>
</div>

<div class="postContainer container-fluid ">
<div *ngIf="post" class="postContainer postContent card" style="width: 60%;">
  <div class="card-body bg-dark">
    <a routerLink="/postdetail/{{post.id}}"><h5 class="card-title text-warning">{{post.title}}</h5></a>
    <div class="postInline">
      <h6 class="smiley card-subtitle mb-2 text-white">{{ getSmiley(post.smiley) }}</h6>
      <h6 class="postDate text-white">{{post.date}}</h6>
    </div>
    <p class="card-text text-white">{{post.entry}}</p>
    <button (click)="delete(post.id)" type="button" class="postBtn btn btn-warning">Delete</button>
    <button routerLink="/editpost/{{post.id}}" type="button" class="btn btn-warning">Edit</button>
  </div>
</div>
</div>
