.post {
  line-height: 1.7em;
}

.smiley {
  font-size: 2em;
}

.post-nav {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  width: 75%;
  height: 60px;
}
.post-nav :hover {
  cursor: pointer;
}
.post-nav p {
  display: inline-block;
}
.post-nav img {
  vertical-align: middle;
  padding-bottom: 3px;
  display: inline-block;
  width: 100px;
}

.post-nav-left {
  float: left;
}
.post-nav-left p {
  padding-left: 15px;
}

.post-nav-right {
  float: right;
}
.post-nav-right p {
  padding-right: 15px;
}

.navbar-text {
  text-align:center;
}

.postContainer {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: pre-wrap;  /* Preserves the line breaks */
}

.postBtn {
  margin-right: 10px;
}
