<div class="button-group">
  <a routerLink="/login" class="btn btn-primary" role="button">Logout</a>
</div>
<div class="button-group">
  <a routerLink="/home" class="btn btn-primary" role="button">Home</a>
</div>

<div class="container-fluid">
  <form [formGroup]="editPost" (ngSubmit)="save()">
    <div class="form-row">
      <select formControlName="smiley" class="custom-select mr-sm-2 col form-control-lg" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value=": D">: D</option>
        <option value=": )">: )</option>
        <option value=": /">: /</option>
        <option value=">:@">>: @</option>
        <option value=":'(">:'(</option>
      </select>
      <div class="col-8">
        <input formControlName="title" type="text" class="form-control form-control-lg" value="{{post.title}}">
      </div>
      <div class="col">
        <input formControlName="date" type="text" class="form-control form-control-lg" value="{{post.date}}">
      </div>
    </div>
    <div class="input-group size">
      <textarea formControlName="entry" class="form-control" rows="10" aria-label="With textarea"
                value="{{post.entry}}"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>

  </form>
</div>
