<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="width: 100%;">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newpost" role="button">Add new post</a>
      </li>
    </ul>
    <div class="container">
    <span class="navbar-text" style="width: 100%">
      Welcome {{currentUser.username}}
    </span>
    </div>
    <ul class="navbar-nav mr-auto justify-content-end" style="width: 100%;">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" role="button">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid" *ngIf="post">
  <form [formGroup]="editPost" (ngSubmit)="save()">
    <div class="form-row">
      <div class="col">
        <select formControlName="smiley" class="custom-select mr-sm-2 col form-control-lg" id="inlineFormCustomSelect"
                [ngClass]="{ 'is-invalid': submitted && f.smiley.errors }">
          <option selected>{{post.smiley}}</option>
          <option value=": D">: D</option>
          <option value=": )">: )</option>
          <option value=": /">: /</option>
          <option value=">:@">>: @</option>
          <option value=":'(">:'(</option>
        </select>
        <div *ngIf="submitted && f.smiley.errors" class="invalid-feedback">
          <div *ngIf="f.smiley.errors.required">Smiley is required</div>
        </div>
      </div>
      <div class="col-8">
        <input formControlName="title" type="text" class="form-control form-control-lg"
               [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>
      <div class="col">
        <input formControlName="date" type="date" class="form-control form-control-lg"
               [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
        <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
          <div *ngIf="f.date.errors.required">Date is required</div>
        </div>
      </div>
    </div>
    <div class="input-group size">
      <textarea formControlName="entry" class="form-control" rows="10" aria-label="With textarea"
                [ngClass]="{ 'is-invalid': submitted && f.entry.errors }"></textarea>
      <div *ngIf="submitted && f.entry.errors" class="invalid-feedback">
        <div *ngIf="f.entry.errors.required">Entry is required</div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>

  </form>
</div>
