<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="header display-4">The Java diaries</h1>
    <p class="header-sub lead">Share all your secrets with us. We won't tell anyone. We promise...</p>
  </div>
</div>

<form class="login-form" name="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
  <h2>Login</h2>

  <div class="form-group">
    <label class="label">Username</label>
    <input formControlName="username" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter username" name="username"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>

  <div class="form-group">
    <label class="label" >Password</label>
    <input formControlName="password" type="password" class="form-control" placeholder="Password"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>

  <div class="form-group">
    <div class="button-group">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <div class="button-group">
      <a routerLink="/register" class="btn btn-primary" role="button">Register</a>
    </div>
  </div>
</form>
