<div class="jumbotron jumbotron-fluid bg-dark">
  <div class="container">
    <div class="row">
      <div>
    <img src="../../assets/img/Quacker.png" class="quack-margin" width="100">
      </div>
      <div>
    <h1 class="header display-4 text-warning">Quacker</h1>
    <p class="header-sub lead text-white">Share all your secrets with us. We won't tell anyone. We promise...</p>
      </div>
    </div>
  </div>
</div>

<div class="postContainer postContent bg-dark" style="width: 60%;">
<form class="login-form" name="login-form" [formGroup]="loginForm" (ngSubmit)="login()" style="width: 60%">
  <h2 class="text-warning">Login</h2>

  <div class="form-group">
    <label class="label text-warning">Username</label>
    <input formControlName="username" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter username" name="username"
           [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>

  <div class="form-group">
    <label class="label text-warning" >Password</label>
    <input formControlName="password" type="password" class="form-control" placeholder="Password"
           [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>

  <div class="form-group">
    <div class="button-group">
      <button type="submit" class="btn btn-warning">Login</button>
    </div>
    <div class="button-group">
      <p class="text-white">New here?</p>
      <a routerLink="/register" class="btn btn-warning" role="button">Register</a>
    </div>
  </div>
</form>
</div>
