
.postContainer {
  padding-top: 25px;
}

.postContent {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
}

/* Ellipsis on post entry text */
.postContent p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.postInline h6 {
  display: inline-block;
}

.postInline .postDate {
  padding-left: 30px;
}

.postDate {
  vertical-align: middle;
}

.smiley {
  font-size: 2em;
}

.postBtn {
  margin-right: 10px;
}

.navbar-text {
  text-align:center;
}
