<div class="button-group">
  <a routerLink="/login" class="btn btn-primary" role="button">Logout</a>
</div>
<div class="button-group">
  <a routerLink="/newpost" class="btn btn-primary" role="button">Add new post</a>
</div>

<div class="container-fluid">

  <div *ngFor="let post of allPosts" class="card" style="width: 60%;">
    <div class="card-body">
      <a routerLink="/postdetail/{{post.id}}"><h5 class="card-title">{{post.title}}</h5></a>
      <h6 class="card-subtitle mb-2 text-muted">{{post.smiley}}      {{post.date}}</h6>
      <p class="card-text">{{post.entry}}</p>
      <button (click)="delete(post.id)" type="button" class="btn btn-secondary">Delete</button>
      <button routerLink="/editpost/{{post.id}}" type="button" class="btn btn-secondary">Edit</button>
    </div>
  </div>
</div>
