
.postContainer {
  padding-top: 25px;
}

.postContent {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.postInline h6 {
  display: inline-block;
}

.postInline .postDate {
  padding-left: 30px;
}

.postBtn {
  margin-right: 10px;
}

.navbar-text {
  text-align:center;
}
