<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="width: 100%;">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto justify-content-end" style="width: 100%;">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" role="button">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <form [formGroup]="newPost" (ngSubmit)="saveNewPost()">
    <div class="form-row">
      <select formControlName="smiley" class="custom-select mr-sm-2 col form-control-lg" id="inlineFormCustomSelect">
        <option selected>Choose...</option>
        <option value=": D">: D</option>
        <option value=": )">: )</option>
        <option value=": /">: /</option>
        <option value=">:@">>: @</option>
        <option value=":'(">:'(</option>
      </select>
      <div class="col-8">
        <input formControlName="title" type="text" class="form-control form-control-lg" placeholder="Title">
      </div>
      <div class="col">
        <input formControlName="date" type="date" class="form-control form-control-lg" placeholder="Date">
      </div>
    </div>
    <div class="input-group size">
      <textarea formControlName="entry" class="form-control" rows="10" aria-label="With textarea"
                placeholder="Entry"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>

  </form>
</div>
