<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="width: 100%;">
      <a class="navbar-brand" href="/home">
        <img src="../../assets/img/Quacker.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Quacker
      </a>
      <li class="nav-item">
        <a class="nav-link" routerLink="/newpost" role="button">Add new post</a>
      </li>
    </ul>
    <div class="container">
    <span class="navbar-text" style="width: 100%">
      Welcome {{currentUser.firstName}}
    </span>
    </div>
    <ul class="navbar-nav mr-auto justify-content-end" style="width: 100%;">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" role="button">Logout</a>
      </li>
    </ul>
  </div>
</nav>



<div class="postContainer postContent bg-dark" style="width: 80%;">
  <form class="postForm" [formGroup]="newPost" (ngSubmit)="saveNewPost()">
    <div class="form-row">
      <div class="col">
        <label class="text-warning label">Smiley</label>
        <select formControlName="smiley" class="custom-select mr-sm-2 col form-control-lg" id="inlineFormCustomSelect"
                [ngClass]="{ 'is-invalid': submitted && f.smiley.errors }">
          <option selected>Choose...</option>
          <option value=": D">: D</option>
          <option value=": )">: )</option>
          <option value=": /">: /</option>
          <option value=">:@">>: @</option>
          <option value=":'(">:'(</option>
        </select>
        <div *ngIf="submitted && f.smiley.errors" class="invalid-feedback">
          <div *ngIf="f.smiley.errors.required">Smiley is required</div>
        </div>
      </div>
      <div class="col-8">
        <label class="text-warning label">Title</label>
        <input formControlName="title" type="text" class="form-control form-control-lg" placeholder="Title"
               [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
          <div *ngIf="f.title.errors.maxlength">Title has a max length of 60 characters</div>
        </div>
      </div>
      <div class="col">
        <label class="text-warning label">Date</label>
        <input formControlName="date" type="date" class="form-control form-control-lg"
               [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
        <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
          <div *ngIf="f.date.errors.required">Date is required</div>
        </div>
      </div>
    </div>
    <div class="entryWrapper input-group margin">
      <label for="textArea" class="text-warning entryFloat label">Entry</label>
      <textarea id="textArea" formControlName="entry" class="form-control entryFloat" rows="10" aria-label="With textarea"
                placeholder="Entry" [ngClass]="{ 'is-invalid': submitted && f.entry.errors }"></textarea>
      <div *ngIf="submitted && f.entry.errors" class="invalid-feedback">
        <div *ngIf="f.entry.errors.required">Entry is required</div>
      </div>
    </div>
    <button type="submit" class="btn btn-warning margin">Quack</button>

  </form>
</div>
